<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
</head>

<body>
    <header>
        <%- include("../partials/header.ejs") %>
    </header>
    <div class="main">
        <%- include("../partials/posts.ejs") %>
    </div>
    <footer>
        <%- include("../partials/footer.ejs") %>
    </footer>

</body>
<html>